<h1>Shopping Cart</h1>
<div class="row col-10" >
    <p *ngIf="totalItemCount">You have {{ totalItemCount }} items in your shopping cart
    <button 
        (click)="clearCart()"
        class="btn btn-light btn-sm">Clear Shopping Cart</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center"style="width: 230px;">Quantity</th>
                <th class="text-right" style="width: 200px;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let item of cart">
                <td>
                    <div class="thumbnail" [style.backgroundImage]="'url('+ item.product.imageUrl +')'"></div>
                </td>
                <td>{{ item.product.productName }}</td>
                <td>
                    <app-product-quantity [product]="item.product" [cart]="cart"></app-product-quantity>
                </td>
                <td class="text-right">{{ item.quantity * item.product.price | currency:'USD':true }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngFor="let item of cart">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th class="text-right">{{  | currency:'USD'}}</th> -->
            </tr>
        </tfoot>
    </table>
    <a 
    (click)="order()"
    class="btn btn-primary"
    routerLink="/order"
    >Check Out</a>
    
</div>