<div class="text-center">
    <form class="form-signin" (ngSubmit)="login()">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input name="username" [(ngModel)]="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required>
        
        <div style="color: red;" *ngIf="incorrectUsernameOrPassword !=''"> {{ incorrectUsernameOrPassword }}</div>
        <p>
          <button class="btn btn-lg btn-light"type="submit">Sign in</button>
        </p>
        <p>
          Not registered? <a  routerLink="/register">Register</a>
        </p>
      </form>
</div>


